# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Other IDEs
.idea/
*.swp

# Mac
.DS_Store

# Logs
*.log